/* Mostra il cursore a forma di mano sul link Accedi */
.fw-bold {
  cursor: pointer;
}

.login-background {
    background: linear-gradient(to right, #2575fc, #6a11cb);
    flex: 1;
    display: flex;
    flex-direction: column;
}